*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
.header-section{
    background-color: #212529;
    padding: 15px;
}
.container{
    width: 1200px;
    margin: auto;
}
.p-site-name{
    float: left;
    color: white;
    font-weight: 300px;
}
.menu{
    float: right;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.clear{
    clear: both;
}
.menu-about{
    margin-left: 10px;
    margin-right: 10px;
}
.menu-about span{
    color: gray;
    transition: all .3s ease;
}
.menu-about :hover{
    color: rgb(190, 190, 190);
}
.menu-contact span{
    color: gray;
    transition: all .3s ease;
}
.menu-contact :hover{
    color: rgb(190, 190, 190);
}
.top-content{
    text-align: center;
    background-color: #F8F9FA;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 40px;
}
.action-button{
    display: inline-block;
    background-color: #0D6EFD;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.top-content p{
    font-size: 20px;
}
.top-content h1{
    margin-bottom: 10px;
    font-size: 35px;
}
.fresh-new-layout{
    text-align: center;
    background-color: #F8F9FA;
    width: 385px;
    padding: 40px;
    float: left;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.below-content{
    margin-top: 30px;
    width: 100%;
}
.rectangle-history-icon{
    color: white;
    font-size: 30px;
    background-color: #267DFD;
    text-align: center;
    width: 60px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    border-radius: 5px;
}
.fresh-new-layout h2{
    margin-bottom: 10px;
}
.rights-reserved{
    text-align: center;
}
.copy-right{
    background-color: #212529;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    padding: 30px;
}
.fresh-new-layout:nth-child(n){
    margin-right: 20px;
}
.fresh-new-layout:nth-child(3n-1){
    margin-left: 3px;
}
.fresh-new-layout:nth-child(3n){
    float: right;
    margin-right: 0;
}
.copy-right .container h4{
    text-align: center;
}
.rectangle-history-icon{
    position: relative;
    top: -60px;
}
.box-content{
    position: relative;
    top: -20px;
} 