*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
.header{
    padding: 20px;
    background-color: transparent;
}
.head-h1{
    color: white;
    float: left;
    font-size: 25px;
}
.head-h1 a{
    text-decoration: none;
    color: rgb(207, 206, 206);
    transition: all .3s ease;
}
.head-h1 a:hover{
    color: white;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(207, 206, 206);
    margin-left: 20px;
    font-size: 20px;
    transition: all .3s ease;
}
ul{
    float: right;
    margin-top: 5px;
}
ul li a:hover{
    color: white;
}
.banner{
    background-image: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%),url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.clear{
    clear: both;
}
h1,.banner p{
    text-align: center;
    color: white;
    font-size: 20px;
    color: rgb(163, 163, 163);
}
.banner-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
}
.banner-content h1{
    color: white;
    line-height: 60px;
    font-size: 50px;
    margin-bottom: 50px;
}
.banner-content p{
    line-height: 25px;
    color: rgb(185, 184, 184);
    position: relative;
}
.banner-content p:before{
    content: "";
    background-color: #F4623A;
    width: 60px;
    height: 5px;
    border-radius: 30px;
    position: absolute;
    top: -30px;
    left: calc(50% - 30px);

}
.banner-button{
    background-color: #F4623A;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-weight: 750;
    padding: 20px 40px;
    margin-top: 50px;
    transition: all .3s ease;
}
.sect-button{
    background-color:white ;
    border: none;
    outline: none;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    font-weight: 750;
    padding: 20px 40px;
    margin-top: 50px;
    transition: all .3s ease;
    cursor: pointer;

}
.banner-button:hover{
    background-color:#ce5432
}
.item .headline{
    line-height: 45px;
}
.at-your-service{
    text-align: center;
    height: 350px;
    background-color: #FFFFFF;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper i{
    font-size: 40px;
    color: #F4623A;
}
.wrapper .headline{
    font-size: 25px;
    font-weight: 700px;
}
.at-your-service .top-headline{
    margin-top: 120px;
    margin-bottom: 100px;
    position: relative;
    font-size: 35px;
}
.at-your-service .top-headline::after{
    content: "";
    background-color: #F4623A;
    width: 60px;
    height: 5px;
    border-radius: 30px;
    position: absolute;
    top: 60px;
    left: calc(50% - 30px);

}
.item .description{
    color: rgb(100, 100, 100);
}
.what-you-need{
    background-color: #F4623A;
    height: 450px;
    color: white;
}
.you-need-container{
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 100px;
    font-size: 20px;
}
.p-after{
    font-size: 40px;
    position: relative;
    margin-bottom: 50px;
}
.p-after::after{
    content: "";
    background-color: white;
    width: 60px;
    height: 5px;
    border-radius: 30px;
    position: absolute;
    top: 65px;
    left: calc(50% - 30px);
}
.you-need-container .desc{
    color: rgba(255, 255, 255, 0.75)
}